/* src/app/globals.css */
@import "tailwindcss";

@theme {
  --color-bridal-ivory: #F9F7F2;
  --color-bridal-sage: #8A9A5B;
  --color-bridal-charcoal: #2C2C2C;
  --color-bridal-gold: #D4AF37;
  --color-bridal-powder: #FB7185;
  
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-montserrat);
}

body {
  @apply bg-bridal-charcoal; 
}